.header__section {
    background: #f3f8fc;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
}


.header__desc {
    font-size: var(--body-M);
    color: #0080BF;
    padding: 1rem 0;
}

.content__left {
    display: flex;
    position: relative;
    align-items: center;
    min-width: 400px;
    width: 60vw;
    padding: 2rem 2vw;
}

.content__left h1 {
font-size: calc(1rem + 2vw);
}


.illustration {
    position: absolute;
    right: 0%;
    top: 50%;
}

.buttons {
    display: flex;
    gap: 2vw;
    white-space: nowrap;
}

.teacher-login__btn {
    color: #7D49DB;
    border: 2px solid #7D49DB;
    filter: drop-shadow(0px 16px 78px rgba(0, 0, 0, 0.12));
}

.student-login__btn {
    border: none;
    color: #FFF;
    background: #54DCC2;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
    position: relative;
}

.student-login__btn::after {
content: url("../../../assets/images/Illustration3.svg");
position: absolute;
bottom: 0;
transform: translateX(5rem);
}



.content__right {
    display: flex;
    height: 100%;
    padding: 0;
    align-self: flex-end;
    /* background: orange; */
}



.hero__img {
    /* width: clamp(40vw, 100%, 70vw); */
    width: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 1090px) {

    .content__right {
        justify-content: center;
    }

    .content__left {
        justify-content: center;
        width: 100%;
    }

    .header__section {
        flex-wrap: wrap;
    }

    .hero__img {
        width: 70%;
    }
  }