.header__section {
    background: #f3f8fc;
    border: 1px solid green;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.header__desc {
    font-size: var(--body-M);
    line-height: 2rem;
}

.content__left {
    position: relative;
    border: 2px solid rgb(255, 0, 0);
    min-width: 650px;
    max-width: 50%;
    padding: 2rem;
}


.illustration {
    position: absolute;
    right: 0%;
    top: 50%;
}

.buttons {
    display: flex;
    gap: 36px;
    margin-top: 60px;
}

.teacher-login__btn {
    color: #7D49DB;
    border: 2px solid #7D49DB;
    filter: drop-shadow(0px 16px 78px rgba(0, 0, 0, 0.12));
}

.student-login__btn {
    border: none;
    color: #FFF;
    background: #54DCC2;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
    position: relative;
}

.student-login__btn::after {
content: url("../../../assets/images/Illustration3.svg");
position: absolute;
bottom: 0;
transform: translateX(5rem);
}



.content__right {
    display: flex;
    height: 100%;
    border: 2px sienna solid;
    width: 40%;
    padding: 0;
    justify-content: end;
    align-items: end;
    align-self: flex-end;
}

.hero__img {
    width: 90%;
    /* height: auto; */
    object-fit: cover;
    border: 1px solid green;
    /* min-width: 200px; */
}
