.header__section {
    background: #f3f8fc;
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


.header__desc {
    font-size: var(--body-L);
    line-height: 150%;
    padding-right: 32px;
}

.content__left {
    position: relative;
    border: 2px solid black;
    padding: 0 0 0 50px;
}


.illustration {
    position: absolute;
    right: 0%;
    top: 50%;
}

.buttons {
    display: flex;
    gap: 36px;
    margin-top: 60px;
}

.teacher-login__btn {
    color: #7D49DB;
    border: 2px solid #7D49DB;
    filter: drop-shadow(0px 16px 78px rgba(0, 0, 0, 0.12));
}

.student-login__btn {
    border: none;
    color: #FFF;
    background: #54DCC2;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
}

.content__right {
    border: 2px sienna solid;
}

.hero {
    width: 100%;
    height: auto;
}
