.story__section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: lightpink;
    flex-wrap: wrap;
}

.founders {
    background: lightgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    max-width: 35%;
}

.content p {
    font-size: 22px;
    line-height: 32px;
    color: #696B6B;
    margin-top: 1em;
}