.story__section {
    display: flex;
    align-items: center;
    justify-content: center;
flex-wrap: wrap;
}

.founders {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}

.content__wrapper {
    flex-basis: 470px;
    flex-grow: 1;
}

.content {
    width: 100%;
    padding: 3rem;
}

.content p {
    font-size: 22px;
    line-height: 32px;
    color: #696B6B;
    margin-top: 1em;
}