.mission__section {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90vw;
}

.mission__content {
    padding: 2rem;
    flex-basis: 470px;
    flex-grow: 1;
}

.mission__illustration {
    width: 50%;
    max-width: 50vw;
}