.video__container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    position: relative;
    transition: all 0.5s ease-in-out;
    padding: 5rem;

}

.plyr__control--overlaid {
    background: white;
    color: #1E1E1E;
    box-shadow:

        0 0 0 25px rgba(255, 255, 255, 0.4),
        0 0 0 50px rgba(255, 255, 255, 0.2);
}

.video__wrapper {
    width: 70%;
    min-width: 50vw;
    position: relative;
}

.video__wrapper::before {
    top: -30rem;
    left: -19.8rem;
    position: absolute;
    content: url('../../../../assets/images/headphone.svg');
}

.plyr--video {
    border-radius: 10px;
}