.sidebar {
    height: 100%;
    width: 282px;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 45px 40px;
    font-size: var(--body-S);
    font-weight: var(--fw-regular);
    line-height: var(--body-lh-S);
    color: var(--description-color);
}

.sidebar__menu li {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
}

.sidebar__menu li:hover {
    background: var(--secondary-blue);
    color: var(--white-color);
    border-radius: 8px;
}

.sidebar__menu li:hover .sidebar__icon {
    filter: brightness(0) invert(1);
}


.subcription {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px 40px;
}

.subcription > p {
    font-size: var(--body-M);
    font-weight: var(--fw-medium);
    line-height: var(--body-lh-M);
}

.subscription__info {
    position: relative;
    display: flex;
    background: var(--white-color);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    padding: 12px 20px;
    gap: 16px;
    border-radius: 4px;
}

.subscription__count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 0;
    transform: translateY(100%);
    background: var(--primary-blue);
    font-weight: var(--fw-medium);
    color: var(--white-color);
    line-height: var(--body-lh-XS);
    font-size: 12px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    object-fit: cover;
}