.subscribe__section {
    padding: 100px;
}

.subscribe {
    width: 70%;
    padding: 94px 135px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-inline: auto;
    position: relative;
}

.subscribe p {
    font-size: 16px;
    line-height: 24px;
    color: #696B6B;
    width: 60%;
}

.subscribe::before {
    content: "";
    background: rgb(217, 217, 217, 0.2);
    position: absolute;
    width: 106%;
    height: 110%;
    top: -5%;
    left: -3%;
    z-index: -1;
    border-radius: 40px;
     /* clip-path: polygon(0 0, 95.1% 8.8%, 100% 100%, 4.9% 91.2%); */
     transform: skew(5deg, 2deg);
}


.subscribe__input {
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    border-radius: 48px;
    margin-top: 60px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe__input input {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #696B6B;
    opacity: 0.6;
    padding-left: 32px;
}

.subscribe__button {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 17.6px;
    padding: 21px 46px;
    border: none;
    background: #0C84C0;
    box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.2);
    border-radius: 75px;
}