.feature__section {
    background: rgb(228, 227, 227);
}

.features {
    border: 2px solid brown;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px;
}


