.feature__section {
    background: rgb(228, 227, 227);
}

.features {
    border: 2px solid brown;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: dense;
    gap: 1.25rem;
}


